# ============================================================
# AGROPLATAFORMA DIGITAL - Variables de entorno
# IMPORTANTE: No subir este archivo a Git
# Renombrar a .env antes de usar
# ============================================================

# Base de datos
DB_PASSWORD=huasteca2025

# pgAdmin
PGADMIN_EMAIL=admin@tecnm.mx
PGADMIN_PASSWORD=admin2025
